@use '/src/styles/colors';

.product-thumbnail {
  display: flex;
  justify-content: center;
  height: 104px;
  width: 104px;
  box-sizing: border-box;
  border: 2px solid colors.$french-grey;
  border-radius: 5px;
  background: colors.$white;
  position: relative;

  &:hover {
    border: 2px solid colors.$verdigris;
    cursor: pointer;
  }

  .image {
    .skeleton {
      width: 70% !important;
    }
  }

  .skeleton {
    border-radius: 0;
  }

  &--active {
    border: 2px solid colors.$verdigris;
  }
}
