@use 'src/styles/typography';
@use 'src/styles/colors';

.about {
  display: flex;
  gap: 40px;

  &__left {
    position: relative;
    width: 300px;
    height: auto;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .image {
    object-fit: contain;
  }

  .link {
    color: colors.$space-cadet;
  }
}
