$verdigris: #3aa39f;

$mikado-yellow: #ffc41f;
$imperial-red: #e14b4b;

$space-cadet: #17183b;
$cool-grey: #a2a3b1;
$french-grey: #d1d1d8;
$white: #ffffff;

// colors for product view

$product-blue: #6f9dff;
$product-white: #ffffff;
$product-beige: #cfb398;
$product-yellow: #ffeb35;
$product-brown: #7e522e;
$product-black: #1b1b1b;
$product-grey: #999090;
