@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$poppins: 'Poppins', sans-serif;
$cambay: 'Cambay', sans-serif;

$font-weights: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
);

$font-sizes: (
  'headline-large': 44px,
  'headline-medium': 32px,
  'headline-small': 24px,

  'title-large': 34px,
  'title-medium': 24px,
  'title-small': 20px,

  'label-large': 20px,
  'label-medium': 16px,
  'label-small': 14px,

  'body-large': 16px,
  'body-medium': 14px,
  'body-small': 12px,
);

$line-heights: (
  'headline-large': 56px,
  'headline-medium': 44px,
  'headline-small': 32px,

  'title-large': 40px,
  'title-medium': 32px,
  'title-small': 24px,

  'label-large': 24px,
  'label-medium': 20px,
  'label-small': 16px,

  'body-large': 24px,
  'body-medium': 20px,
  'body-small': 16px,
);

@mixin logo {
  font-family: $cambay;
  font-size: 24px;
  font-weight: map.get($font-weights, 'bold');
}
