@use 'sass:map';

@use '/src/styles/typography';
@use '/src/styles/colors';

.typography {
  margin: 0;
  padding: 0;

  font-family: typography.$poppins;

  &__headline {
    font-weight: map.get(typography.$font-weights, 'bold');

    &--large {
      font-size: map.get(typography.$font-sizes, 'headline-large');
      line-height: map.get(typography.$line-heights, 'headline-large');
    }

    &--medium {
      font-size: map.get(typography.$font-sizes, 'headline-medium');
      line-height: map.get(typography.$line-heights, 'headline-medium');
    }

    &--small {
      font-size: map.get(typography.$font-sizes, 'headline-small');
      line-height: map.get(typography.$line-heights, 'headline-small');
    }
  }

  &__title {
    font-weight: map.get(typography.$font-weights, 'semi-bold');

    &--large {
      font-size: map.get(typography.$font-sizes, 'title-large');
      line-height: map.get(typography.$line-heights, 'title-large');
    }

    &--medium {
      font-size: map.get(typography.$font-sizes, 'title-medium');
      line-height: map.get(typography.$line-heights, 'title-medium');
    }

    &--small {
      font-size: map.get(typography.$font-sizes, 'title-small');
      line-height: map.get(typography.$line-heights, 'title-small');
    }
  }

  &__label {
    font-weight: map.get(typography.$font-weights, 'semi-bold');

    &--large {
      font-size: map.get(typography.$font-sizes, 'label-large');
      line-height: map.get(typography.$line-heights, 'label-large');
    }

    &--medium {
      font-size: map.get(typography.$font-sizes, 'label-medium');
      line-height: map.get(typography.$line-heights, 'label-medium');
    }

    &--small {
      font-size: map.get(typography.$font-sizes, 'label-small');
      line-height: map.get(typography.$line-heights, 'label-small');
    }
  }

  &__body {
    font-weight: map.get(typography.$font-weights, 'regular');

    &--large {
      font-size: map.get(typography.$font-sizes, 'body-large');
      line-height: map.get(typography.$line-heights, 'body-large');
    }

    &--medium {
      font-size: map.get(typography.$font-sizes, 'body-medium');
      line-height: map.get(typography.$line-heights, 'body-medium');
    }

    &--small {
      font-size: map.get(typography.$font-sizes, 'body-small');
      line-height: map.get(typography.$line-heights, 'body-small');
    }
  }

  // colors

  &--primary {
    color: colors.$space-cadet;
  }

  &--secondary {
    color: colors.$cool-grey;
  }

  &--success {
    color: colors.$verdigris;
  }

  &--warning {
    color: colors.$mikado-yellow;
  }

  &--error {
    color: colors.$imperial-red;
  }

  &--white {
    color: colors.$white;
  }
}
