body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-areas:
    'header'
    'body'
    'footer';
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;

  &__header {
    grid-area: header;
  }

  &__body {
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 80px;
  }
}
