body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-areas:
    'header'
    'body'
    'footer';
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;

  &__header {
    grid-area: header;
  }

  &__body {
    grid-area: body;
    margin: 0 auto;
  }

  .body {
    max-width: 1440px;
    padding: 54px 80px;
  }
}
