.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 12px;

  &__name {
    position: absolute;
    left: 0;
  }

  &__links {
    display: flex;
    gap: 24px;
  }

  &__cart {
    position: absolute;
    right: 0;
  }
}
