@use 'src/styles/typography';
@use 'src/styles/colors';

.product-page {
  width: 100%;
  height: 100%;

  &__left {
    width: 500px;
  }

  &__right {
  }

  &__product-title {
    margin-top: 0;
  }

  .product-title {
    @include typography.headline-large;
    color: colors.$space-cadet;
  }

  .product-price {
    @include typography.title-medium;
    color: colors.$space-cadet;
  }

  .product-description {
    @include typography.body-large;
    color: colors.$space-cadet;
  }

  .product-bonuses {
    @include typography.body-large;
    color: colors.$space-cadet;
  }
}
