@use 'src/styles/typography';
@use 'src/styles/colors';

.product-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__left {
    width: 500px;
  }

  &__right {
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__title-zone {
    margin-top: 76px;
    margin-bottom: 48px;
  }

  .title-zone {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .description-zone {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .product-add-to-cart {
    display: flex;
    gap: 24px;
  }

  .rectangle {
    position: fixed;
    right: 0;
    top: 330px;
    height: 250px;
    width: 440px;
    background: linear-gradient(to left, colors.$verdigris 25%, colors.$white);
    opacity: 0.1;
    z-index: -1;
  }
}
